body{
  color: white;
  background-color:black;
  padding:30px;
  
}

@media only screen and (max-width: 500px) {
  body {
    background-color: lightblue;
  }
  .column{
    flex-direction: column;
  }
}